
body {
    text-align: center;
}
form {
    padding: 30px;

}
h1{
    color: white;
}

li {
    display:inline-block;
    font-size: x-large;
    border: 2px solid black;
}
p{
     padding-top: 10px;
}
img{
    width: 300px;
    height: 500px;
    text-align: center;
    border: 10px solid red;
    border-radius: 20px;
}
div {
    background-image: linear-gradient(black,white);
}